/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(red,black);
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px;
    background: linear-gradient(black,red);
    color: white;
    border: 2px solid white;
}

header button{
    background-color: red;
    border-radius: 5px;
    border-width: 2px;
    padding: 10px;
    border-color: white;
}

img{
    padding: 20px;
    margin-left: 90px;
    height: 400px;
    width: 600px;
    border: 3px solid white;
}

footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(#5d0000, #361100);
    color: white;
}